[Unit]
Description=udp2raw %I service
PartOf=chain_breaker.service
After=chain_breaker.service

[Service]
ExecStart=/bin/bash /root/udp2raw/run.sh %i
Restart=on-failure

[Install]
WantedBy=chain_breaker.service
